@font-face {
    font-family: 'digital';
    src: url('../../fonts/digital-7\ \(mono\ italic\).ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

// main page
.king {
    background-color: #E8ECF1;

    .my-row {

        div {
            opacity: .7;
            font-size: 2rem;
            transition: font-size .3s ease-in-out;

            &:hover {
                opacity: 1;
                background-color: #d5d9de;
                cursor: pointer;
                font-size: 2.6rem;
                transition: font-size .3s ease-in-out;
            }
        }
    }
}



// clock page
.king {

    .date-container {

        .date-div {

            p {
                font-family: 'digital';
            }

            .week-day {
                color: rgb(112, 112, 112);
                font-weight: 600;
            }

            .year {
                color: rgb(112, 112, 112);
                font-weight: 200;
            }
        }
    }
}


// local
.back-btn {
    padding: .5rem 2rem;
    transition: padding .3s ease-in-out;

    &:hover {
        padding: .5rem 4rem;
        transition: padding .3s ease-in-out;
    }
}